{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "react-native-web",
    "react-native-reanimated/plugin"
  ],
  "env": {
    "production": {
      "plugins": ["react-native-web"]
    }
  }
}
